<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="/style.css">
   </head>

   <body>
      <div class="container">
         <h1>Request Header Parser Microservice</h1>

        <p>
          Example usage:<br>
          <code>https://request-header-parser-sloba.glitch.me/api/whoami</code><br>
          Example output:<br>
         <code> { ipaddress: "212.200.68.15", language: "en-US", software: "Windows NT 10.0; Win64; x64" }</code>
        </p>
      </div>
   </body>

</html>